services:
  postgres:
    image: "postgres:latest"
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_OPEN_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend

  backend:
    build:
      context: ./reviewer-api
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      DB_HOST: postgres
      ENV_FILE: .env
    ports:
      - "8080:${HTTP_PORT}"
    depends_on:
      - postgres
    networks:
      - backend


volumes:
  postgres_data:

networks:
  backend: 
    